body {
	font-family: helvetica;
}
div.form-group {
	border: 1px solid rgba(0, 0, 0, 0.125);
	background-color: white;
}
div.entireCalc {
	box-shadow: 0px 2px 10px 0px blue;
}
div.displaySection {
	height: 32% !important;
}
div#operation {
	height: 56%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
button#clear {
	background-color: transparent;
	height: 22%;
	font-size: 1.2rem !important
}
div#displaySpan {
	height: 20%;
}
button {
	bottom: 0;
	right: 0;
}
div.inputsDiv {
	height: 68% !important;
}
.operatorsDiv input {
	background-color: #4C4C4C;
	height: 20%;
}
input {
	margin-bottom: auto;
	margin-top: auto;
	border: none;
	background-color: #F1F1F1;
}
}
@media only screen and (min-width: 200px) {
}
@media only screen and (min-width: 400px) and (max-width: 575px) {
		.container {
		padding: 0px 10% !important;
	}
}
@media only screen and (min-width: 576px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 991px) and (max-width: 1200px){
	.container {
		height: 75% !important;
		padding: 0px 1% !important;
	}
	.col-7e {
		-webkit-box-flex: 0 !important;
		-ms-flex: 0 0 63% !important;
		flex: 0 0 63% !important;
		max-width: 63% !important;
	}
}
@media only screen and (min-width: 1200px) {
}